<ion-header>
  <ion-toolbar>
    <ion-title>recursos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="recurso app">
      <ion-label>
        APPS
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recurso cuento">
      <ion-label>
        CUENTOS
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recurso juego">
      <ion-label>
        JUEGOS
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recurso libro">
      <ion-label>
        LIBROS
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recurso tweet">
      <ion-label>
        TWEETS
      </ion-label>
    </ion-tab-button>
    <ion-tab-button tab="recurso video">
      <ion-label>
        VIDEOS
      </ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
