<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LOGIN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="frmLogIn"  (ngSubmit)="onSubmit()">
    <div id="container">
      <ion-item>
        <ion-label>Username: </ion-label>
        <ion-input type="text" placeholder="USUARIO [nick]" [formControl]="$any(frmLogIn).controls['username']"></ion-input>
      </ion-item>
      <br>
      <ion-item>
        <ion-label>Password: </ion-label>
        <ion-input type="password" placeholder="CLAVE [pwd]" [formControl]="$any(frmLogIn).controls['password']"></ion-input>
      </ion-item>
      <ion-button color="success" type="submit" [disabled]="!frmLogIn.valid">Success</ion-button>
      <br><br>
      <a routerLink="/registro">CREAR CUENTA</a>
      
    </div>
  </form>
</ion-content>

